.MyHeader{
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
.footer {
    background-color: #8A2BE2;
    text-align: center;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: cornflowerblue;
}
.active {
    background-color: darkturquoise;
}
